.about{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}
.details{
    width: 100%;
    margin-right: 30px;
    text-align: justify;
}
.my-img{
    width: 100%;
}
.my-img img{
    width: 100%;
}