.form-container {
    width: 50%;
    margin: 50px auto;

}

.form-container form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-container .submit-btn {
    width: 50%;
    padding: 8px;
    margin-top: 10px;
}

.signup-text {
    margin-top: 20px;
}

.signup-link {
    color: #ee661a;
    text-decoration: none;
    cursor: pointer;
}

.hr-line {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.hr-line hr {
    width: 40%;
}

.form-container .google-btn {
    width: 50%;
    margin: 10px auto 0;
    border: none;
    border: 1px solid rgb(172, 169, 169);
    padding: 2px;
    border-radius: 5px;
    color: #ee661a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn:hover {
    background-color: rgb(11, 94, 215);
    color: white;
}

@media only screen and (max-width: 688px) {
    .form-container{
        width: 100%;
    }
    .form-container .google-btn{
        width: 90%;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .form-container{
        width: 70%;
    }
    .form-container .google-btn{
        width: 60%;
    }
}