.nav-text-container{
    display: flex;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container h3{
    color:black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.link-names a {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
