.banner {
    background: url(../../../images/Banner/banner3.jpg) no-repeat center center / cover;
    width: 100%;
    height: 600px;
}

.banner-text {
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    text-align: center;
    margin-top: 107px;
}

.banner-text h1 {
    font-weight: 400;
    font-size: 62px;
    line-height: 74.4px;
    letter-spacing: normal;
}

.banner-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 22.8px;
    margin-top: 14px;
    margin-bottom: 35px;
}

.banner button {
    background-color: rgb(223, 97, 58);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
}