.event-details{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
}
.event-details h1{
    color:black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.event-details button{
    background-color:rgb(238, 102, 26) ;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.event-details a{
    text-decoration: none;
}
.event-details .event-name{
    color:  rgb(238, 102, 26);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.event-details .btn-text{
    color:  white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    font-weight: 400;
}